{% extends "credential/layout.html" %}
{% load custom_fillers %}

{% block body %}

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <div class="d-flex align-items-center">
            <h2 class="fs-2 m-0">Dashboard</h2>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user me-2"></i>Welcome, {{ request.user }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Username: {{ request.user.username }}</a></li>
                        <li><a class="dropdown-item" href="#">Email: {{ request.user.email }}</a></li>
                        <li><a class="dropdown-item" href="{% url 'credential:logout' %}">Logout</a></li>
                        <li><a class="dropdown-item" href="{% url 'credential:signup' %}">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav> -->

    <!-- <h1>Welcome, {{ request.user }}</h1>
    <ul class="list-group mb-4">
        <li class="list-group-item">Username: {{ request.user.username }}</li>
        <li class="list-group-item">Email: {{ request.user.email }}</li>
    </ul> -->


    <div class="container" id="wrapper">
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <h2 class="fs-2 m-0">My Stock Dashboard</h2>
                </div>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>Welcome, {{ request.user }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Username: {{ request.user.username }}</a></li>
                                <li><a class="dropdown-item" href="#">Email: {{ request.user.email }}</a></li>
                                <li><a class="dropdown-item" href="{% url 'credential:logout' %}">Logout</a></li>
                                <li><a class="dropdown-item" href="{% url 'credential:signup' %}">Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            {% if error_message %}
                <p class="alert alert-danger">{{ error_message }}</p>
            {% endif %}
            <div class="mb-4">
                <form id="ticker-form" method="GET" action="{% url 'credential:fetch_tickers' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" id="ticker-input" name="search_term" class="form-control" placeholder="Type ticker name..." autocomplete="off">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                {% if stock_price_chart %}
                    {{ stock_price_chart | safe }}
                {% endif %}
            </div>

                <div class="px-4">
                    <div class="row g-3 my-2">
                        <div class="col-md-6">
                            <div class="p-3 bg-white shadow-sm justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2">Current Market Price Checker</h3>
                                    <p class="fs-5">
                                        <form id="price-check" method="GET" action="{% url 'credential:buy_stock' %}">
                                            {% csrf_token %}
                                            <div class="row g-3">
                                                <div class="col-auto">
                                                    <input type="text" class="form-control" id="stock-name" placeholder="Enter stock name.." name="stock_name">
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-success" type="submit" id="fetch-price-button">Get Price</button>
                                                </div>
                                            </div>
                                        </form>
                                        {% if stock_name and current_price %}
                                        <div class="d-flex">
                                            <p id="stock-short-name"><b>{{ stock_name }}</b>&nbsp;=&nbsp;</p>
                                            <p id="current-price-check"><b>${{ current_price|floatformat:"2" }}</b></p>
                                        </div>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-6">
                            <div class="p-3 bg-white shadow-sm justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2">Buy Stock</h3>
                                    <p class="fs-5">
                                        <form id="buy-form" method="GET" action="{% url 'credential:buy_stock2' %}" class="form-inline my-2 my-lg-0">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                <input type="text" id="stock-name" name="stock_name" class="form-control flex-grow-1 mr-sm-2" placeholder="Enter stock name">
                                                <input type="number" id="stock-quantity" name="quantity" class="form-control flex-grow-1 mr-sm-2" min="1" placeholder="Enter number of shares">
                                                <div class="input-group-append">
                                                    <button type="submit" id="buy-stock" class="btn btn-outline-success">BUY</button>
                                                </div>
                                            </div>
                                        </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>

                <div class="row my-5">
                    <h3 class="fs-4 mb-3">My Stocks</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Stock Name</th>
                                    <th scope="col">Number of Shares</th>
                                    <th scope="col">Average Price</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Sell</th>
                                </tr>
                            </thead>
                            <tbody id="stock-table-body">
                                {% for stock in user_stocks %}
                                <tr>
                                    <th scope="row">{{ stock.stock_name }}</th>
                                    <td>{{ stock.quantity }}</td>
                                    <td>${{ stock.price|floatformat:"2" }}</td>
                                    <td>${{ stock.total_value|floatformat:"2" }}</td>
                                    <td>
                                        <div id="stock-quantities" class="input-group">
                                            <form action="{% url 'credential:sell_stock' stock.ticker_name %}" method="post">
                                                {% csrf_token %}
                                                <div>
                                                    <input type="hidden" name="ticker_name" value="{{ stock.ticker_name }}">
                                                    <select name="quantity">
                                                        <option selected>Choose...</option>
                                                        {% for option in options_lists|index:forloop.counter0 %}
                                                            <option value="{{ option }}">{{ option }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <button class="btn btn-outline-secondary" type="submit">Sell</button>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}
    <!-- <script>
        document.addEventListener('DOMContentLoaded', () =>{
            document.getElementById("buy-form").addEventListener("submit", function(event) {
                event.preventDefault();

                const stockNameElement = document.getElementById('stock-name');
                const stockQuantityElement = document.getElementById('stock-quantity');
                const stockShortNameElement = document.getElementById('stock-short-name');
                const currentPriceElement = document.getElementById('current-price');
                const stockTableBody = document.getElementById('stock-table-body');

                const stockName = stockNameElement.value;
                const stockQuantity = stockQuantityElement.value;
                const averageCost = parseFloat(currentPriceElement.textContent);
                const marketValue = averageCost * stockQuantity;
                const todaysReturn = (averageCost - parseFloat(currentPriceElement.textContent)) * stockQuantity;

                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${stockName}</td>
                    <td>${stockQuantity}</td>
                    <td>${averageCost}</td>
                    <td>${marketValue}</td>
                    <td class="${todaysReturn < 0 ? 'negative-return' : 'positive-return'}">${todaysReturn}</td>
                `;
                stockTableBody.appendChild(newRow);

                stockNameElement.value = '';
                stockQuantityElement.value = '';
            });
        });

    </script> -->